In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.tree import DecisionTreeClassifier
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_excel("game.xlsx")

In [3]:
df.head()

   Days Outlook Temprature  Routine Wear Jacket?
0     1   Sunny       Cold   Indoor           No
1     2  Cloudy       Cold   Indoor          Yes
2     3  Cloudy       Warm  Outdoor           No
3     4   Sunny       Cold  Outdoor          Yes
4     5  Cloudy       Cold  Outdoor          Yes

In [4]:
df.drop('Days',axis=1,inplace=True)

In [5]:
df.head()

  Outlook Temprature  Routine Wear Jacket?
0   Sunny       Cold   Indoor           No
1  Cloudy       Cold   Indoor          Yes
2  Cloudy       Warm  Outdoor           No
3   Sunny       Cold  Outdoor          Yes
4  Cloudy       Cold  Outdoor          Yes

In [6]:
df.shape

(8, 4)

In [7]:
df.head(8)

  Outlook Temprature  Routine Wear Jacket?
0   Sunny       Cold   Indoor           No
1  Cloudy       Cold   Indoor          Yes
2  Cloudy       Warm  Outdoor           No
3   Sunny       Cold  Outdoor          Yes
4  Cloudy       Cold  Outdoor          Yes
5   Sunny       Warm  Outdoor           No
6  Cloudy       Warm   Indoor           No
7   Sunny       Warm   Indoor           No

In [8]:
x = df.drop('Wear Jacket?', axis=1)

In [9]:
x.head()

  Outlook Temprature  Routine
0   Sunny       Cold   Indoor
1  Cloudy       Cold   Indoor
2  Cloudy       Warm  Outdoor
3   Sunny       Cold  Outdoor
4  Cloudy       Cold  Outdoor

In [10]:
y = df[['Wear Jacket?']]

In [11]:
y.head(8)

  Wear Jacket?
0           No
1          Yes
2           No
3          Yes
4          Yes
5           No
6           No
7           No

In [12]:
x.head()

  Outlook Temprature  Routine
0   Sunny       Cold   Indoor
1  Cloudy       Cold   Indoor
2  Cloudy       Warm  Outdoor
3   Sunny       Cold  Outdoor
4  Cloudy       Cold  Outdoor

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [14]:
from pandas.core.dtypes.common import is_numeric_dtype

In [15]:
for col in x.columns:
    if is_numeric_dtype(x[col]):
        continue
    else:
        x[col] = le.fit_transform(x[col])

In [16]:
x.head()

   Outlook  Temprature  Routine
0        1           0        0
1        0           0        0
2        0           1        1
3        1           0        1
4        0           0        1

In [17]:
#cloudy = 0,sunny = 1
#cold = 0, warm = 1
#indoor = 0, Outdoor = 1

In [19]:
 clf = DecisionTreeClassifier()

In [20]:
clf.fit(x,y)

DecisionTreeClassifier()

In [22]:
clf.predict([[0,0,0]])

array(['Yes'], dtype=object)

In [23]:
clf.predict([[1,0,0]])

array(['No'], dtype=object)

In [24]:
clf.predict([[1,1,1]])

array(['No'], dtype=object)

In [25]:
clf.predict([[0,0,1]])

array(['Yes'], dtype=object)